* { padding:0; margin:0; outline: none; }
#container { width: 400%; height: 100%; overflow: hidden;  position: absolute;  }
#container #slider {   height: 100%;  display: inline-block;}
#container #slider #image {  height: 100%;   background-size: 100%; background-position: center center; }
#bottom { position: absolute; bottom:0; background-color: rgba(0, 0, 0, 0.7); box-shadow: 0 0 3px rgba(0, 0, 0, 1); width: 100%; z-index: 6; padding-bottom: 5px; text-align: center; }
#circle {  display: inline-block; width: 16px; height: 16px; margin-top: 15px; margin-right: 5px; cursor: pointer; background-color: rgba(0, 0, 0, 0); border:1px solid #fff; border-radius: 40px;
-webkit-transition:all.3s ease; -ms-transition:all.3s ease; -moz-transition:all.3s ease; -o-transition:all.3s ease;
}
#beforeBall { display: inline-block;}
#left  { position: absolute; z-index: 6; height: 100%;   width: 100px;  top:0; left:0;}
#right { position: absolute; z-index: 6; height: 100%; width: 100px;  top:0; right:0;}
#left #test { position: relative; transform: translate(-50%; -50%); left:50%; top:calc(50% - 40px);}
#right #test { position: relative; transform: translate(-50%; -50%); left:20%; top:calc(50% - 40px);}
#test i { color:rgba(255, 255, 255, 1); font-size: 40px; cursor: pointer;
 -webkit-transition:all.3s ease; -ms-transition:all.3s ease; -moz-transition:all.3s ease; -o-transition:all.3s ease;
}
#test i:active { margin-top: 5px; }
